<mat-card class="playerList">
  <mat-card-title>Cards</mat-card-title>
  <mat-card-content>
    <ng-container *ngFor="let accuserPlayerId of game.accuserIds; let last = last;">
      <div class="label">
        <div class="name">{{game.players[accuserPlayerId].name}}</div>
        <div class="expertise">{{game.players[accuserPlayerId].expertise}}</div>
      </div>

      <div class="cards">
        <div (click)="selectCard(card)"
          [ngClass]="{ card: true, selected: isSelected(card) }"
          *ngFor="let card of game.players[accuserPlayerId].handCards"
        >
          {{isVisible(card) ? 'o' : 'x'}}
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
