@import '~@angular/material/theming';

.playerList {
  border: 1px solid rgba(0,0,0,.06);

  mat-card-title {
    font-size: 1.15rem;
    margin-bottom: 1rem;
  }

  mat-card-content {
    overflow: scroll;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;

    .label {
      margin-right: .7rem;
      align-self: center;

      .name {
        font-size: .9rem;
      }

      .expertise {
        color: grey;
        font-size: .8rem;
      }
    }

    .cards {
      display: flex;
      align-items: center;

      .card {
        margin-right: .7rem;
        padding: .6rem;
        border: 1px solid rgba(0,0,0,.12);
        border-radius: 4px;
        color: mat-color(mat-palette($mat-indigo));
        width: .45rem;
        cursor: pointer;
      }

      .selected {
        background-color: mat-color(mat-palette($mat-indigo), lighter);
      }
    }
  }
}
