
.notes {
  border: 1px solid rgba(0,0,0,.06);

  mat-card-title {
    font-size: 1.15rem;
  }

  mat-card-subtitle:not(:last-of-type) {
    margin-bottom: 4px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;

    textarea {
      height: 5rem;
    }
  }
}

