<div *ngIf="game !== undefined">
  <mat-card class="waiting">
    <mat-card-title>Waiting for others...</mat-card-title>

    <mat-card-content>
      <div class="label" *ngFor="let player of game.players | keyvalue">
        <div class="name">{{player.value.name}}</div>
        <div class="expertise">{{player.value.expertise}}</div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="startGame()" color="primary" [disabled]="!submitEnabled" mat-button>start game</button>
    </mat-card-actions>
  </mat-card>

  <app-messages [messages]="game.messages"></app-messages>
</div>
