mat-card {
  margin-top: 1rem;
  margin-bottom: 3rem;

  mat-card-title {
    font-size: 1.15rem;
  }
}

mat-list {
  mat-list-item {
    font-size: .9rem;
    height: 1.7rem;
    font-weight: lighter;

    .bold {
      font-weight: bold;
    }
  }
}
