.story {
  max-width: 800px;
  margin-top: 1rem;
  margin-bottom: 1rem;

  mat-card-title {
    margin-bottom: 1.15rem;
  }

  p {
    font-size: 1.10rem;
  }
}

.waiting {
  max-width: 800px;
  margin-bottom: 1rem;
  border: 1px solid rgba(0,0,0,.06);

  mat-card-title {
    font-size: 1.15rem;
  }

  mat-card-content {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;

    .label {
      border: 1px solid rgba(0,0,0,.12);
      padding: .7rem;
      margin-top: 1rem;
      border-radius: 4px;
      width: fit-content;
      margin-right: .7rem;

      .name {
        font-size: 1rem;
      }

      .expertise {
        color: grey;
        font-size: .8rem;
      }
    }

    mat-card-actions {
      padding-top: 0;
    }
  }
}

app-messages {
  max-width: 832px;
  margin-bottom: 1rem;
  display: block;
}
