<mat-card class="story">
  <mat-card-title>What Happened?</mat-card-title>

  <mat-card-content>
    <p>
      Enigmatic millionaire playboy chef Guy Fieri has invited you all to a private Thanksgiving
      party at his lavish mansion on New Fieri Island. The following morning, you wake hungover
      with no memory of the previous night’s events, and hear a horrifying scream!
    </p>
    <p>
      The maid has discovered the body of Mr. Fieri dumped in the skip at the back of the property!
      She is going to alert the authorities and guard the body but it will take some time before
      anybody can get to this private island - and the killer is still out there.
    </p>
    <p>
      You all meet in the aquarium room and agree to split up and search for evidence.
      The murderer is in this house and could be any one of you, including yourself -
      so keep your wits about you!
    </p>
  </mat-card-content>
</mat-card>

<div *ngIf="game !== undefined">
  <mat-card class="waiting">
    <mat-card-title>Waiting for others...</mat-card-title>
    <mat-card-subtitle>Whoever clicks start will be the game leader.</mat-card-subtitle>

    <mat-card-content>
      <div class="label" *ngFor="let player of game.players | keyvalue">
        <div class="name">{{player.value.name}}</div>
        <div class="expertise">{{player.value.expertise}}</div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="startGame()" color="primary" [disabled]="!submitEnabled" mat-button>start game</button>
    </mat-card-actions>
  </mat-card>

  <app-messages [messages]="game.messages"></app-messages>
</div>
