<div *ngIf="game !== undefined">
  <mat-card>
    <mat-card-title>Waiting for others...</mat-card-title>

    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let player of game.players | keyvalue">
          <span [ngClass]="{ bold: (playerId === player.value.id) }">{{player.value.name}}, {{player.value.expertise}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="startGame()" color="primary" [disabled]="!submitEnabled" mat-button>start game</button>
    </mat-card-actions>
  </mat-card>

  <app-messages [messages]="game.messages"></app-messages>
</div>
