.messages {
  mat-card-title {
    font-size: 1.1rem;
  }

  mat-card-content {
    height: 10rem;
    overflow: scroll;

    mat-list {
      padding-top: 0;

      mat-list-item {
        height: 1.7rem;
      }

      mat-list-item:hover {
        background-color: lightgrey;
      }
    }
  }
}
