mat-card {
  margin-top: 1rem;
  border: 1px solid rgba(0,0,0,.06);

  mat-card-title {
    font-size: 1.15rem;
  }

  mat-card-subtitle.twoLine {
    margin-bottom: 4px;
  }

  mat-form-field {
    display: block;
  }
}

button {
  margin: 1rem 0;
}
