<h2>Who are you?</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Name and Expertise</mat-card-title>
    <mat-card-subtitle>ex: 'geoffrey the pidgeon trainer'</mat-card-subtitle>

    <mat-card-content>
      <mat-form-field>
        <input formControlName="name" matInput placeholder="name" />
      </mat-form-field>

      <mat-form-field>
        <input formControlName="expertise" matInput placeholder="expertise" />
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Murder Weapons</mat-card-title>
    <mat-card-subtitle>ex: 'feather dipped in poison'</mat-card-subtitle>

    <mat-card-content>
      <div formArrayName="weapons" *ngFor="let item of form.get('weapons').controls; let i = index;">
        <mat-form-field>
          <input [formControlName]="i" matInput placeholder="weapon">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Pieces of Evidence</mat-card-title>
    <mat-card-subtitle>ex: 'found: pidgeon coreography sheet'</mat-card-subtitle>
    <mat-card-subtitle>or: 'motive: Guy Fieri cooked a pidgeon on his show last night'</mat-card-subtitle>

    <mat-card-content>
      <div formArrayName="evidence" *ngFor="let item of form.get('evidence').controls; let i = index;">
        <mat-form-field>
          <input [formControlName]="i" matInput placeholder="evidence">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <button mat-button color="primary" type="submit">join game</button>
</form>
