mat-form-field {
  display: block;
}

mat-card-title {
  font-size: 1.1rem;
}

mat-card-subtitle:first-of-type {
  margin-bottom: 4px;
}

button {
  margin: 1rem 0;
}

mat-card {
  margin-top: 1rem;
}
