<mat-card class="accuse">
  <mat-card-title>Was It {{game.players[game.accuseeId].name}}??</mat-card-title>
  <mat-card-subtitle *ngIf="playerId === accuserId">
    Explain why your piece of evidence proves {{game.players[game.accuseeId].name}} killed Guy Fieri.
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="playerId !== accuserId">
    Listen to {{game.players[accuserId].name}} explain their evidence.
  </mat-card-subtitle>

  <mat-card-content>
    <app-evidence-card [card]="accusationCard"></app-evidence-card>
  </mat-card-content>

  <mat-card-actions *ngIf="playerId === accuserId">
    <button mat-button color="primary" (click)="startRebuttal()">hear rebuttal</button>
  </mat-card-actions>
</mat-card>
