@import '~@angular/material/theming';

.players {
  margin-top: 1em;
  margin-bottom: 1em;

  mat-card {
    padding: .7rem;
  }

  mat-divider {
    margin-top: .7rem;
    margin-bottom: .7rem;
    position: relative;
    left: -16px;
    width: calc(100% + 32px);
  }

  .player {
    display: flex;
    align-items: center;

    .label {
      margin-inline-end: .7rem;

      .name {
        font-weight: normal;
        font-size: 1.1rem;
      }

      .expertise {
        color: grey;
        font-size: .9rem;
      }
    }

    .card {
      margin-inline-end: .7rem;
      cursor: default;
      padding: .6rem;
      border: 1px solid rgba(0,0,0,.12);
      border-radius: 4px;
      color: mat-color(mat-palette($mat-indigo));

      mat-icon {
        font-size: 1.2rem;
        width: 1rem;
        height: 1rem;
      }
    }

    .card.enabled {
      cursor: pointer;
    }
  }
}

.selected-card {
  margin-top: 1em;

  mat-card-title {
    font-size: 1.17rem;
  }
}
