<mat-card class="selected-card" *ngIf="selectedCard !== undefined">
  <mat-card-title>Selected Card</mat-card-title>
  <mat-card-subtitle>{{selectedCard.type}}</mat-card-subtitle>

  <mat-card-content>
    <div><span class="label">description:</span> {{selectedCard.description}}</div>
    <div><span class="label">expertise:</span> {{selectedCard.expertise}}</div>
  </mat-card-content>
</mat-card>

<div class="players">
  <mat-card *ngFor="let player of players | keyvalue">
    <mat-card-title>{{player.value.name}}</mat-card-title>
    <mat-card-subtitle>{{player.value.expertise}}</mat-card-subtitle>
    <mat-card-content>
      <ul class="cardList">
        <li *ngFor="let card of player.value.handCards">
          <div (click)="selectCard(card)" [ngClass]="{'card': true, 'enabled': (playerId === player.value.id)}">
            <mat-icon>{{(playerId === player.value.id) ? 'visibility' : 'visibility_off'}}</mat-icon>
          </div>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>

