<mat-card class="selected-card" *ngIf="selectedCard !== undefined">
  <mat-card-title>Selected Card</mat-card-title>
  <mat-card-subtitle>{{selectedCard.type}}</mat-card-subtitle>

  <mat-card-content>
    <div><span class="label">description:</span> {{selectedCard.description}}</div>
    <div><span class="label">expertise:</span> {{selectedCard.expertise}}</div>
  </mat-card-content>
</mat-card>

<mat-card class="players">
  <mat-card-content>
    <div *ngFor="let player of players | keyvalue; let last = last;">
      <div class="player">
        <div class="label">
          <div class="name">{{player.value.name}}</div>
          <div class="expertise">{{player.value.expertise}}</div>
        </div>

        <div (click)="selectCard(card)"
            [ngClass]="{'card': true, 'enabled': (playerId === player.value.id)}"
            *ngFor="let card of player.value.handCards"
        >
          <mat-icon>{{(playerId === player.value.id) ? 'visibility' : 'visibility_off'}}</mat-icon>
        </div>
      </div>

      <mat-divider *ngIf="!last"></mat-divider>
    </div>
  </mat-card-content>
</mat-card>
