<mat-card class="selectedCard" *ngIf="selectedCard !== undefined">
  <mat-card-title>Selected Card</mat-card-title>
  <mat-card-subtitle>{{selectedCard.type}}</mat-card-subtitle>

  <mat-card-content>
    <div><span class="description">description:</span> {{selectedCard.description}}</div>
    <div><span class="expertise">expertise:</span> {{selectedCard.expertise}}</div>
    <div><span class="accusee">accusee:</span> {{players[selectedCard.accuseeId].name}}</div>
  </mat-card-content>

  <mat-card-actions>
    <button color="primary" mat-button>swap</button>
    <button color="primary" mat-button>another</button>
  </mat-card-actions>
</mat-card>

<mat-card class="container">
  <mat-card-title>Cards</mat-card-title>
  <mat-card-content>
    <ng-container *ngFor="let player of players | keyvalue; let last = last;">
      <div class="label">
        <div class="name">{{player.value.name}}</div>
        <div class="expertise">{{player.value.expertise}}</div>
      </div>

      <div class="cards">
        <div (click)="selectCard(card)" *ngFor="let card of player.value.handCards"
            [ngClass]="{'card': true, 'enabled': (playerId === player.value.id)}"
        >
          <mat-icon>{{(playerId === player.value.id) ? 'visibility' : 'visibility_off'}}</mat-icon>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
